<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
      <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
        <NotAuthorized>
          <!-- If not logged in, override with LandingLayout -->
          <LayoutView Layout="@typeof(LandingLayout)">
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
          </LayoutView>
        </NotAuthorized>
      </AuthorizeRouteView>
    </Found>
    <NotFound>
      <LayoutView Layout="@typeof(MainLayout)">
        <p>Sorry, nothing found.</p>
      </LayoutView>
    </NotFound>
  </Router>
</CascadingAuthenticationState>