@page "/"
@using BookingAssistantWeb.Models
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<h1>Moje čísla</h1>

<!-- @foreach (var number in numbers)
{
    // Odkaz na stránku s detailem čísla, jako GET parametr nedávat číslo, ale ID čísla z databáze
    // Pro jednoduchost zde používáme samotné číslo jako identifikátor, ale v reálné aplikaci by to mělo být ID z DB
    // Například: <NavLink href="@("/number/" + number.Id)">@number</NavLink>
    <NavLink href="@("/number/" + number)">@number</NavLink>
    <br />
} -->

@if (phoneNumbers is null)
{
    <p>Načítám...</p>
}
else
{
    @foreach (var number in phoneNumbers)
    {
        <p>@number.Value</p>
    }
}

@code {
    List<PhoneNumber>? phoneNumbers;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<PhoneNumbersResponse>("user/numbers");
        if (response != null)
        {
            phoneNumbers = response.PhoneNumbers;
        }
    } 
}